//font variables
$xxl-font: 4rem;
$xl-font: 3rem;
$lg-font: 2.25rem;
$md-font: 1.5rem;
$sm-font: 1rem;
$xs-font: 0.88rem;
$xxs-font: 0.81rem;
$extra-font: 1.25rem;

//color variables
$primary-color: #573cff;
$secondary-color: #05ce6e;
$warning-color: #e97316;
$error-color: #ef444a;
$success-color: #22c55e;
$white-color: #ffffff;
$black-color: #1b1c1d;
$light-dark: #676868;
$feint-light-dark: #414243;
$lighter-gray: #8d8e8e;

$fira-sans-font: "Fira Sans", sans-serif;

//color maps
$colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "warning": $warning-color,
  "error": $error-color,
  "success": $success-color,
  "white": $white-color,
  "black": $black-color,
);

@each $key, $val in $colors {
  .sb-text-#{$key} {
    color: $val;
  }

  .sb-bg-#{$key} {
    background-color: $val;
  }

  //all color variations
  @for $i from 1 through 10 {
    .sb-text-#{$key}-light-#{$i} {
      color: mix(#ffffff, $val, $i * 10);
    }
    .sb-bg-#{$key}-light-#{$i} {
      background-color: mix(#ffffff, $val, $i * 10);
    }
  }

  @for $i from 1 through 10 {
    .sb-text-#{$key}-dark-#{$i} {
      color: mix(#000000, $val, $i * 10);
    }
    .sb-bg-#{$key}-dark-#{$i} {
      background-color: mix(#000000, $val, $i * 10);
    }
  }
}
