.topnavigation {
  @include containerPadding;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;

  .topnavigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .topnavigation__left {
      display: flex;
      align-items: center;
      gap: 45px;

      a {
        @include navigationLinks;
        @include lg {
          display: none;
        }
      }
    }

    .topnavigation__right {
      display: flex;
      gap: 32px;
      align-items: center;

      @include md {
        display: none;
      }

      #login {
        @include navigationLinks;
        color: $primary-color;
        @include lg {
          display: none;
        }
      }

      #register {
        @include navigationLinks;
        @include flexCenter;
        background-color: $primary-color;
        border-radius: 5px;
        font-size: $xs-font;
        color: $white-color;
        width: 167px;
        height: 40px;
        @include lg {
          display: none;
        }

        &:hover {
          color: $primary-color;
          background-color: $white-color;
          border: 1px solid $primary-color;
        }
      }
    }
  }

  .topnavigation__right__mobile {
    display: none;
    @include lg {
      display: block;
    }

    @include md {
      display: block;
    }
  }
}

.topnavigation__container__mobile--links {
  display: none;

  @include lg {
    @include flexCenter;
    flex-direction: column;
    gap: 20px;
    transition: all 1s;
    animation: fadeIn linear 0.1s;
    background-color: $white-color;
    z-index: 99999;
    margin-top: 1.8rem;
    padding: 1rem 0;

    .mobile__nav__links {
      p {
        @include navigationLinks;
        font-size: 1.13rem;
      }
    }

    #login-mobile {
      border: 1px solid $primary-color;
      border-radius: 2px;
      width: 146px;
      height: 50px;
      font-weight: 700;
      font-size: $xs-font;
      color: $primary-color;
      line-height: 16px;
      @include flexCenter;
    }

    #register-mobile {
      @include navigationLinks;
      @include flexCenter;
      background-color: $primary-color;
      border-radius: 1px;
      font-size: $xs-font;
      color: $white-color;
      width: 231px;
      height: 50px;
    }
  }
}

//todo: make animations better

.topnavigation__container__mobile--links--none {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
