.business {
  @include containerPadding;
  .business__container {
    padding-top: 6em;
    .business__container--hero {
      display: flex;
      justify-content: space-between;

      .business__container--hero--left {
        .business--title {
          color: $primary-color;
          font-weight: 700;
          font-size: $xxl-font;
          line-height: 77px;
          width: 620px;
          font-family: $fira-sans-font;
        }
      }
    }
  }
}
